
/* These are some messy DEMO styles. no need to poke around here all that much :-) */



/* Page */

nav ul {
	padding: 0 0 .8em;
	margin-bottom: 1.8em;
	list-style: none;
	font-size: 14px;
	text-align: right;
	border-bottom: 1px dashed rgba(0,0,0,.2);
}
nav ul li {
	margin-left: .8em;
	display: inline;
}
figure {
	display: block;
}
html {
		-webkit-font-smoothing: antialiased;		
}
body {
	margin: 62px 0;
	background:#FFF url(../img/white_texture.png);
	color:#444;
	font:normal normal 400 100%/1.5em georgia, verdana, sans-serif;
}
a {
	background-color:transparent;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline
}
a:link,
a:visited,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: rgb(250, 36, 0);
}
a:hover,
a:focus {
	text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto !important;
}
ul {
	padding: 0;
	list-style-position: inside;
}
.article-img {
	margin: 1em 1em 1em  10px;
	float: left;
}
figure {
	margin: 1em 0; padding: 0;
}
figcaption {
	font-size: 12px;
}
aside ul {
	font-size: 12px;
	line-height: 2.1em;
}
#page {
	margin: 0 auto;
	padding: 1px 0;
	width: 90%;
	max-width: 1000px;
}
#footer {
	clear: both;
}

/* Type */
h1,h2,h3,h4 {
	color: #111;
	font-weight: normal;
}
.intro hgroup h1 {
  font-size: 24px;
}
.intro h2 { 
  font-size: 16px;
  margin: 0;
}
.intro hgroup {
  margin-bottom: 1.5em;
}
.section-title {
	margin-top: 1.5em;
	padding: .4em 0 .55em;
	border-top: 1px solid rgba(0,0,0,.2);
	border-bottom: 1px dashed rgba(0,0,0,.2);
}
/* Gallery example */
.gallery a {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.gallery img {
	display: block;
	box-shadow: 0 0 0 4px rgba(0,0,0,0);
	-webkit-transition: box-shadow .5s;
}
.gallery a:hover img,
.gallery a:focus img {
	box-shadow: 0 0 0 4px rgba(0,0,0,1);
}

/* Components */
.component {
	border-bottom: 2px solid rgba(0,0,0,.2);
}

/* Footer */
#footer {
	margin-top: 2.2em;
	border-top: 1px dashed rgba(0,0,0,.2);
}

/* Boxes */
.box {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 1px 12px;
	background: #fff;
	overflow: hidden;
	zoom: 1;
	font-size: 14px;
}

/* Play content */
.news-articles {
  margin-top: 1em;
}
.news-articles .unit {
	border-left: 1px solid rgba(0,0,0,.2);
}
.news-articles .unit:first-child {
	border-left: none;
}
.news-articles figure {
  margin-top: 0;
}

/* Media queries */
@media only screen and (max-width:768px) {
	
	.gallery .unit {
		width: 25%;
	}
	.in-fourths .unit {
		width: 50%;
	}
	.intro .unit {
		width: 33.33333%;
	}
	.intro .unit {
		width: auto;
	}
}
@media only screen and (max-width: 480px) {
	/* Test of reflowing some layout for smaller screens */

	.news-articles .unit:nth-child(3) {
		border-left: none;
	}
	.ingrid .unit {
		width: auto;
		display: block;
	}
	.gallery .unit {
		width: 33.33333%;
		display: inline-block;
	}
	
	.in-thirds .unit { width: 50%; display: inline-block; }
	.in-thirds .unit:nth-child(3) {
		display: block;
		width: auto;
	}
}