/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* These are some messy DEMO styles. No need to poke around here all that much */


/* Base
------------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;    
}

body {
  margin: 62px 0;
  background: #FFF url(../img/white_texture.png);
  color: #444;
  font: normal normal 400 100%/1.5em georgia, verdana, sans-serif;
}

a {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: rgb(250, 36, 0);
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

figure img {
  display: block;
}

/* Typography
------------------------------------------*/

h1, h2, h3, h4, h5, h6, dl, ol, ul, p, blockquote, pre {
  margin-bottom: 1em;
  margin-top: 1em;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-left: 1.5em;
}

li {
  display: list-item;
  list-style-position: inside;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3125em;
}

h3 {
  font-size: 1.125em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

/* Typographic elements */

.section-title {
  margin-top: 1.5em;
  padding: .4em 0 .55em;
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px dashed rgba(0,0,0,.2);
}


/* Page
------------------------------------------*/

#page {
  margin: 0 auto;
  width: 93%;
  max-width: 1000px;
}

#footer {
  margin-top: 2.2em;
  padding-top: 1em;
  border-top: 1px dashed rgba(0,0,0,.2);
  clear: both;
  text-align: center;
}

#masthead h1 {
  margin: .1em 0;
  position: absolute;
  left: -9999em;
}

#masthead h2 {
  font-size: 90%;
}

.github {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px dashed rgba(0,0,0,.2);
  text-align: center;
}

@media only screen and (min-width: 769px) {

  .demo-introduction {
    padding-left: 26%;
  }
  
}

/* Gallery example
------------------------------------------*/

.gallery a {
  display: block;
  margin-top: .4em;
  margin-bottom: .4em;
}

.gallery img {
  display: block;
  box-shadow: 0 0 0 4px rgba(0,0,0,0);
  -webkit-transition: box-shadow .5s;
  -moz-transition: box-shadow .5s;
  -ms-transition: box-shadow .5s;
  -o-transition: box-shadow .5s;
  transition: box-shadow .5s;
}

.gallery a:hover img,
.gallery a:focus img {
  box-shadow: 0 0 0 4px rgba(0,0,0,1);
}

/* custom gallery gutters */

.gallery {
  margin: 0 -.4em;
}

.gallery .unit {
  padding: 0 .4em;
}


/* Components
------------------------------------------*/

.box {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1px 1em;
  background: #fff;
  *zoom: 1;
}

figure + .box {
  margin-top: -1em;
}

/* Article layout
------------------------------------------*/

.news-articles .unit {
  margin-top: 1em;
  margin-bottom: 1em;
}

.news-articles .unit {
  border-left: 1px solid rgba(0,0,0,.2);
}

.news-articles .unit:first-child {
  border-left: none;
}

.news-articles figure {
  margin-top: 0;
}

/* Breakpoint examples
------------------------------------------*/

@media only screen and (max-width:768px) {
  
  .gallery .unit {
    width: 25%;
  }
  
  .in-fourths .unit {
    width: 50%;
  }
  
  .intro .unit {
    width: auto;
    display: block;
  }
  
}

@media only screen and (max-width: 480px) {

  /* Test of reflowing some layout for smaller screens */

  .news-articles .unit:nth-child(3) {
    border-left: none;
  }
  
  .ingrid .unit {
    width: auto;
    display: block;
  }
  
  .gallery .unit {
    width: 33.33333%;
    display: inline-block;
  }
  
}
