
/*--------------------------------------------------------

Author:   Robert Piirainen
Home:     piira.se
Created:  2011
Updated:  2012/2/7
   
--------------------------------------------------------*/




/* INGRID COMPONENTS 
   Here are the building blocks of Ingrid.
--------------------------------------------------------*/

.ingrid {
  margin: 0 -11px 0 -10px;
  padding: 0;
  clear: both;
  list-style: none;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
}

.unit,
.field-unit {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}

.field-unit  {
  display: block;
} 




/* GUTTERS 
   Gutter set directly on units (thanks border-box).
--------------------------------------------------------*/

.unit,
.field-unit {
  padding: 0 11px 0 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




/* oldIE 
   Some IE7 help
--------------------------------------------------------*/

.ingrid {
  *letter-spacing: normal;
  *zoom: 1;
}

.unit {
  *display: inline;
}

.unit,
.field-unit {
  *margin-right: -1px;
  *padding: 0;
  *zoom: 1;
}




/* UNITS 
   Divide units in...
--------------------------------------------------------*/

.in-twos      .unit   { width: 50%; } 
.in-thirds    .unit   { width: 33.33333%; } 
.in-fourths   .unit   { width: 25%; } 
.in-fifths    .unit   { width: 20%; } 
.in-sixths    .unit   { width: 16.6666666%; }
.in-sevenths  .unit   { width: 14.2857143%; }

/* Spatial units in thirds */
.in-thirds    .span2  { width: 66.66666%; }

/* Spatial units in fourths */
.in-fourths   .span2  { width: 50%; }
.in-fourths   .span3  { width: 75%; }

/* Spatial units in fifths */
.in-fifths    .span2  { width: 40%; }
.in-fifths    .span3  { width: 60%; }
.in-fifths    .span4  { width: 80%; }

/* Spatial units in sixths */
.in-sixths    .span2  { width: 33.33333%; }
.in-sixths    .span3  { width: 50%; }
.in-sixths    .span4  { width: 66.66666%; }
.in-sixths    .span5  { width: 83.3333333%; }

/* Spatial units in sevenths */
.in-sevenths  .span2  { width: 28.5714286%; }
.in-sevenths  .span3  { width: 42.8571429%; }
.in-sevenths  .span4  { width: 57.1428572%; }
.in-sevenths  .span5  { width: 71.4285715%; }
.in-sevenths  .span6  { width: 85.7142858%; }




/* PIXEL PERFECT (always comes with a price)
   Trickery to get rid of inline-block whitespace
   between units. Uncomment these lines if you're
   looking for a 
--------------------------------------------------------*/
/*
.ingrid {
  letter-spacing:-0.3em;
  word-spacing:-0.3em;
}
.ingrid .unit *,
.ingrid .field-unit * {
  font-family: georgia, serif;
}
.unit,
.field-unit {
  font-family: 'courier new', 'DejaVu Sans Mono';
}
*/