body {
	color:#222222;
	font:normal normal 400 100%/1.5em serif;
}
hr {
	border:0;
	border-top:2px solid #eee;
	display:block;
	height:1px;
	margin:1em 0;
	padding:0
}

h1,h2,h3,h4,h5,h6,dl,ol,ul,p,blockquote,pre {
	margin-bottom:1em;
	margin-top:1em
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin-left:1.5em
}

dd,dt,li {
	display:list-item outside
}

blockquote {
	border-left:solid .1em #DDD;
	padding-left:1.4em;
	quotes:none
}

blockquote ol,
blockquote ul {
	margin-left:1.5em
}

code {
	background-color:#FFE;
	font-family:monospace, sans-serif;
	font-size:87.5%;
	margin-bottom:-.125em;
	margin-left:.125em;
	margin-right:.125em;
	margin-top:-.125em;
	padding:.125em
}

pre {
	background-color:#FFE;
	padding:.75em
}

pre code {
	display:block;
	margin:0
}

h1 {
	font-size:1.5em
}

h2 {
	font-size:1.3125em
}

h3 {
	font-size:1.125em
}

h4 {
	font-size:1em
}

h5 {
	font-size:1em
}

h6 {
	font-size:1em
}

table {
	border-collapse:collapse;
	width:100%
}