/*--------------------------------------------------------
INGRID SCSS
Author:   Robert Piirainen
Twitter:  @robertpiira
--------------------------------------------------------*/
.ingrid-extend, .demo-items, .demo-blocks, .demo-modules, .demo-minis, .demo-parent, .demo-nested, .demo-responsive {
  padding: 0;
  clear: both;
  list-style: none; }

.ingrid--unit-extend, .demo-items--unit, .demo-blocks--unit, .demo-modules--unit, .demo-modules--custom-unit, .demo-minis--unit, .demo-parent--unit, .demo-parent--custom-unit, .demo-nested--unit, .demo-responsive--unit {
  margin: 0;
  letter-spacing: normal;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.demo-items {
  letter-spacing: -0.31em;
  margin-left: -2%;
  margin-right: -2%; }
  .demo-items .demo-items--unit {
    padding-left: 2%;
    padding-right: 2%; }

.demo-items--unit {
  display: inline-block;
  width: 20%; }

.demo-items--unit:first-of-type {
  width: 40%; }

.demo-blocks {
  letter-spacing: -0.31em;
  margin-left: -2%;
  margin-right: -2%; }
  .demo-blocks .demo-blocks--unit {
    padding-left: 2%;
    padding-right: 2%; }

.demo-blocks--unit {
  display: inline-block;
  width: 16.667%; }

.demo-modules {
  letter-spacing: -0.31em;
  margin-left: -2%;
  margin-right: -2%; }
  .demo-modules .demo-modules--unit {
    padding-left: 2%;
    padding-right: 2%; }

.demo-modules--unit {
  display: inline-block;
  width: 33.333%; }

.demo-modules--custom-unit {
  display: inline-block;
  margin-right: 8%;
  padding: 0 2%;
  width: 25.33333%; }

.demo-minis {
  letter-spacing: -0.31em;
  margin-left: -2%;
  margin-right: -2%; }
  .demo-minis .demo-minis--unit {
    padding-left: 2%;
    padding-right: 2%; }

.demo-minis--unit {
  display: inline-block;
  width: 12.5%; }

.demo-parent {
  letter-spacing: -0.31em;
  margin-left: -2%;
  margin-right: -2%; }
  .demo-parent .demo-parent--unit, .demo-parent .demo-parent--custom-unit {
    padding-left: 2%;
    padding-right: 2%; }

.demo-parent--unit, .demo-parent--custom-unit {
  display: inline-block;
  width: 33.333%; }

.demo-parent--custom-unit {
  width: 66.667%; }

.demo-nested {
  letter-spacing: -0.31em;
  margin-left: -3%;
  margin-right: -3%; }
  .demo-nested .demo-nested--unit {
    padding-left: 3%;
    padding-right: 3%; }

.demo-nested--unit {
  display: inline-block;
  width: 25%; }

@media only screen and (min-width: 481px) {
  .demo-responsive {
    letter-spacing: -0.31em;
    margin-left: -2%;
    margin-right: -2%; }
    .demo-responsive .demo-responsive--unit {
      padding-left: 2%;
      padding-right: 2%; }

  .demo-responsive--unit {
    display: inline-block;
    width: 50%; } }
@media only screen and (min-width: 769px) {
  .demo-responsive--unit {
    width: 25%; } }
.demo-page {
  margin: 2em auto;
  width: 93%; }

.demo-box {
  margin: 10px 0;
  background: #ddd;
  background: rgba(0, 0, 0, 0.3);
  height: 100px;
  border-radius: 4px; }
