@import 'ingrid';

// DEMO pt.1
//----------------------------------------------------

.demo-items {
  @extend .ingrid;
  @include has-custom-gutters('.demo-items--unit', $flex-gutter);
}

.demo-items--unit {
  @extend .ingrid--unit;
  @include grid-unit-widths($in-fifths);
}

.demo-items--unit:first-of-type {
  @include grid-unit-widths($in-fifths, $span-two);
}

// DEMO pt.2
//----------------------------------------------------

.demo-blocks {
  @extend .ingrid;
}

.demo-blocks--unit {
  @extend .ingrid--unit;
  @include grid-unit-widths($in-sixths);
}

// DEMO pt.3
//----------------------------------------------------

.demo-modules {
  @extend .ingrid;
  @include has-custom-gutters('.demo-modules--unit', 1%);
}

.demo-modules--unit {
  @extend .ingrid--unit;
  @include grid-unit-widths($in-thirds);
}

.demo-modules--custom-unit {
  @extend .ingrid--unit;
  margin-right: 8%;
  padding: 0 1%;
  width: 25.33333%;
}

// DEMO pt.4
//----------------------------------------------------

.demo-minis {
  @extend .ingrid;
  @include has-custom-gutters('.demo-minis--unit', 3px);
}

.demo-minis--unit {
  @extend .ingrid--unit;
  @include grid-unit-widths($in-eights);
}

// Demo styles
//----------------------------------------------------

.demo-page {
  margin: 2em auto;
  width: 96%;
}

.demo-box {
  margin: 10px 0;
  background: #ddd;
  height: 100px;
  border-radius: 4px;
}