
/*--------------------------------------------------------
INGRID SCSS
Author:   Robert Piirainen
Twitter:  @robertpiira
--------------------------------------------------------*/


// VARIABLES
//--------------------------------------------------------

// Default gutter variables
$zoom-gutter:     1em   !default;
$flex-gutter:     2%    !default;
$static-gutter:   15px  !default;

// Context variables
$in-halves:   2;
$in-thirds:   3;
$in-fourths:  4;
$in-fifths:   5;
$in-sixths:   6;
$in-sevenths: 7;
$in-eights:   8;

// Spatial unit variables
$span-two:    2;
$span-three:  3;
$span-four:   4;
$span-five:   5;
$span-six:    6;
$span-seven:  7;

// GUTTERS
//--------------------------------------------------------

@mixin has-gutters($unit-selector, $gutter: $flex-gutter, $context: false, $target: false) {
  @if($context and $target) {
    $new-context-gutter: ($context / $target) * $gutter;
    margin-left: -#{$new-context-gutter};
    margin-right: -#{$new-context-gutter};
    #{$unit-selector} {
      padding-left: $new-context-gutter;
      padding-right: $new-context-gutter;
    }
  }
  @else {
    margin-left: -#{$gutter};
    margin-right: -#{$gutter};
    #{$unit-selector} {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
}

// INGRID BASE
//--------------------------------------------------------

.ingrid-extend {
  padding: 0;
  clear: both;
  list-style: none;
}

.ingrid--unit-extend {
  margin: 0;
  letter-spacing: normal;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// INGRID MIXIN
//--------------------------------------------------------

// The grid unit container
@mixin ingrid {
  letter-spacing: -0.31em;
  @extend .ingrid-extend;
}

// The grid unit
@mixin ingrid--unit {
  display: inline-block;
  @extend .ingrid--unit-extend;
}

// Field units strech the whole width of a container
@mixin ingrid--field-unit {
  display: block;
  @extend .ingrid--unit-extend;
}

// GRID UNIT WIDTHS
//--------------------------------------------------------

@mixin has-columns($context, $unit-span: 1) {
  width:  percentage($unit-span / $context);
}

//end-----------------------------------------------------
